{% set i=1 %}
{% for m in menu %}
	
    <div class="pgormat">
	
	
	<div id="bar-{{i}}" class="bar-main-container a0">
		
		
				<div id="bar_{{i}}" class="bar a{{i}}"  style=""></div>
			
		
	</div>
	
	<div class="bar-percentage a0">  <span id="span_percentage_{{i}}">50</span>% {{ m.nom }}</div>
	</div>
	{% set i=i+1 %}
{% endfor %}