<div class="" id="" style="margin-bottom:20px">
			:أسئلتي المقترحة
		</div>	
		<div class="" id="mes_questions_pr" style="">
		{% set i=0 %}
			{% for quest in questions %}	
	<div id="consl_prof{{i}}" class="" style="width:100%">
	
	<div class="entete_mes_questions" style="">
	<div id="afficher_consls{{i}}" class="btn_affich_consl_prof" style="" onclick="javascript:afficherlemessage_envoyer({{i}})">السؤال</div>
	<div id="masquer_consls{{i}}" class="btn_masqu_consl_prof" style="" onclick="javascript:masquerlemessage_envoyer({{i}})">إخفاء</div>
	<div class="nom_consl_prof" style="">السادس إبتدائي</div>
	<div class="image_consl_prof" style=""><img id="" src="{{asset("images/question.png")}}" style="width:100%"/></div>
	<div class="effacer_ce_message" title="Effacer ce message" style="">مسح</div>
	</div >
	
	<div id="contenu_consl_prof{{i}}" class="contenu_consl_prof" style="width:100%">
	<div class="tri_consl_prof" style=""></div>
	<div class="contenu_qust_prof"  id="text_consl_prof{{i}}"  style="">
	
		<form action="http://127.0.0.1/remi/Symfony/web/app_dev.php/modifquest" method="post" >
		<div id="" class="" style="margin-bottom:20px;text-decoration:underline">
			إظافة سؤال جديد
		</div>
		<div>			
		<div id="" class="" style="width:40%;display:inline-block">
			إختيار المتوى
		</div>
		
		<div id="" class="" style="width:40%;display:inline-block;margin-left:19%">
			إختيار المادة
		</div>
		
		</div>
		<div>
		<select  id="choix_niveau_test" name="modif_choix">
							<option value="choix1">Choix 1</option>
							<option value="choix2">Choix 2</option>
							<option value="choix3">Choix 3</option>
							<option value="choix4">Choix 4</option>
		</select>
		
		<select  id="choix_matr_test" name="modif_matr">
							<option value="choix1">الرياضيات</option>
							<option value="choix2">علوم الحياة و الأرض</option>
							<option value="choix3">الفزياء و الكمياء</option>
							<option value="choix4">التاريخ</option>
							<option value="choix4">الفرنسية</option>
		</select>
		</div>
		
			<textarea id="textarea_test"placeholder="السؤال" name="modif_question" class="textarea_test" style="">{{quest.question}}</textarea></br> 
			<textarea id="textarea_test"placeholder="السؤال" name="modif_justi" class="textarea_test" style="">{{quest.justification}}</textarea></br> 
			<input class="input_test_pr" style="" name="modif_rep1"  placeholder="الإجابة1 الصحيحة" type="text" value="{{quest.rep1}}"></input></br> 
			<input class="input_test_pr" style="" name="modif_rep2" placeholder="الإجابة2" type="text" value="{{quest.rep2}}"></input></br> 
			<input class="input_test_pr" style="" name="modif_rep3" placeholder="الإجابة3" type="text" value="{{quest.rep3}}"></input></br>  
			<input class="input_test_pr" style="" name="modif_rep4" placeholder="الإجابة4" type="text" value="{{quest.rep4}}"></input></br>  
			<input class="input_test_pr" style="display:none" name="modif_id" placeholder="" type="text" value="{{quest.id}}"></input></br> 
					
			<div id="btn_insc" style="">
				<input  style="" value="حفض التغير"  placeholder="Login " type="submit" ></input>
			</div>
		</form>
	
		
	</div>
	</div>
	{% set i=i+1 %}
	{% endfor %}
			
		</div>