{% set i=1 %}
{% for q in questions %}
	<div id="num{{i}}">
		<div id="qest{{i}}" > {{q.question}}</div>
		<div id="num{{i}}_rep{{1}}" >{{q.rep1}}</div>
		<div id="num{{i}}_rep{{2}}" >{{q.rep2}}</div>
		<div id="num{{i}}_rep{{3}}" >{{q.rep3}}</div>
		<div id="num{{i}}_rep{{4}}" >{{q.rep4}}</div>
		<div id="num{{i}}_rep" >{{q.rep}}</div>
	</div>
	{%set i=i+1 %}
{% endfor %}