<!DOCTYPE html>

<html id="" class="" lang="ar">

	<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="{{asset("css/css.css")}}" type="text/css" media="screen" />
	
	</head>
	 
	<body class="" style="" onscroll="scroll();" >
	 
        <div id="Entete" style="">
				 
			
<div id="barreuser" style="">
	<div  style="width:960px;padding:17px 0px;position:relative;margin:auto">
		<div id="barreuser_3"  class="barreuseri" style="" >--  حساب التلميذ  --</div>
		<div id="barreuser_2"  class="barreuseri" style="" >الإسم و النسب</div>
		<div id="barreuser_1" class="barreuseri" style="margin-right:75px" > {{ user.username }}</div>
		<div id="img_user" style=""><img id="" src="{{asset("images/user_icon.png")}}" style="width:100%"/></div>
		<div id="deconnexion"   >تسجيل الخروج</div>
	</div>	
</div>



		</div>       
		<div id="corp_profil" style=""> 
		{% block corp %}
		
		{% endblock %}
		</div>
		<div id="footer" style="">
		<div id="images_footer">
		<div id="innovit" class="footer_image" style="">
		<img id="logo_image" src="{{asset("images/innovIT_logo.png")}}" style="width:100%"/>
        </div>
        <div id="inpt" class="footer_image" style="">
		<img id="logo_image" src="{{asset("images/logoINPT.png")}}" style="width:100%"/>
        </div>
		</div>			
		
		<div id="text_footer">
		Ce site est développé dans le cadre du concours Innovit 2014<br>
		Equipe de l'Institut National des Postes et télécommunication
		</div>			
		
		
        </div>
	<script  src="{{asset("scripts/script_barre.js")}}" > </script>
				
	</body>
</html>