{% extends 'InnovitGeneralBundle:General:general.html.twig' %}
{%block milieu%}
<div id="div_gauche" class="" style="">        
				<div id="slider" class="" style="">
	
	
	<div id="division_slider_show" style="">

	<div id="division_slider_show_SPANS" style="">
	<div id="div1" style="display:inline-block">
	1
	</div>
	<div id="div2" style="margin-left:20px;display:inline-block">
	2
	</div>
	<div id="div3" style="margin-left:20px;display:inline-block;">
	3
	</div>
	<div id="div4" style="margin-left:20px;display:inline-block;">
	4
	</div>
	</div>
		
		
	
	
<div id="division_slider_show_image" style="">
		
	<div id="sls1"  style="">
	<img src="{{asset("images/image1.jpg")}}" style="height:100%;width:100%"/>
	</div>
	
	<div id="sls2"  style="">
	<img src="{{asset("images/image2.jpg")}}" style="height:100%;width:100%"/>
	</div>
	
	<div id="sls3"  style="">
	<img src="{{asset("images/image3.jpg")}}" style="height:100%;width:100%"/>
	</div>
	
	<div id="sls4"  style="">
	<img src="{{asset("images/image4.jpg")}}" style="height:100%;width:100%"/>
	</div>
		
</div>
	
	</div>    
				</div>		 
				
				<div id="div_englobante" class="" style="">
					<div id="sous_div1" class="" style="">
						<img class="icone_s_d" src="{{asset("images/png/128px/Shape42.png")}}" style=""/>
						<div id="" class="titre" style="">
							<span style="">نصائح قيمة</span><br>	  
						</div>		 
							 
					</div>       
					<div id="sous_div2" class="" style="">
						<img class="icone_s_d" src="{{asset("images/png/128px/Shape108.png")}}" style=""/>
						<div id="" class="titre" style="">
							<span style=""> مرافقة ذكية</span><br>	  
						</div>		 
						
					</div>
					<div id="sous_div3" class="" style="">
						<img class="icone_s_d" src="{{asset("images/logo_infor2.png")}}" style=""/>
						<div id="" class="titre" style="">
							<span style=""> تأطير مستمر</span><br>	  
						</div>		 
						
					</div>
				</div>	

				<div id="acc_desous">
				<div class="image_acc_desous_div" id="image_acc_desous_div1">
				<img class="" src="{{asset("images/tir.png")}}" style=""/>
				</div>
				
				<div id="acc_desous_titre">		
				الإعلاميات و التعليم
				</div>
				
				<div id="acc_desous_text">		
			 يهدف هذا الموقع الى استخدام التقنيات الحديثة في مجال الإعلاميات وتكنولوجيات الاتصالات في التعليم المدرسي
				</div>
				
				</div>

               			
			</div>
{%endblock%}